# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and Visual Studio stuff
*.exe
*.out
*.pdb
*.tlog
*.log
*.res
*.sdf
*.opensdf
*.filters
*.user
*.manifest
*.lastbuildstate
*.suo
ipch/
Debug/
.DS_Store
